*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --poppins:'Poppins', sans-serif;
}
/*----------- 
Top Banner Styles
-------------*/
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.top-banner{
    width: 1321px;
    height: 646px;
    background-color: rgb(32, 30, 30);
    border-radius: 30px;
}
.banner-title{
    width: 531px;
    height: 424px;
    position: relative;
    top: 80px;
    left: 106px;
    color: #FFFFFF;
    font-family: var(--poppins);
}
.banner-title h1{
    font-size: 70px;
    font-weight: 700;
}
.banner-title p{
    font-size: 16px;
    font-weight: 400;
}
.banner-title button{
    width: 187px;
    height: 56px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #DD0000;
}
.btn-main{
    position: relative;
    top: 30px;
    border: none;
    transition: 0.6s;
}
.btn:hover{
    color: greenyellow;
    background-color: purple;
    border: none;
}


.angle-right{
    position: relative;
    font-size: 16px;
    left: 10px;
}
.banner-image img{
    width: 561px;
    height: 520px;
    top: -300px;
    left: 550px;
    position: relative;
}
/*-------------- 
Side Card Styles
--------------- */
.card{
    position: relative;
    width: 312px;
    height: 312px;
    left: 100px;
    top: 130px;
    border-radius: 10px;
    background-color: black;
}
.card-btn{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.link-btn{
    position: relative;
    width: 252px;
    height: 64px;
    top: 30px;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#btn3{
    background-color: #DD0000;
    color: white;
    border: none;
}
/* blogs Styles */
.blogs{
    width: 60%;
    position: relative;
    left: 430px;
    top: -193px;
    display: grid;
    grid-template-columns:repeat(3, 3fr); 
}
.blogs-area{
    padding: 10px;
}
.blog{
    width: 312px;
    height: 362px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
blog-banner{
    width: 312px;
    height: 175px;
}
.blog-info{
    position: relative;
    top: 20px;
    left: 20px;
}
.blog-info button{
    width: 100px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.blog-info h4{
    position: relative;
    top: 15px;
    font-family: var(--poppins);
}
.blog-info > span{
    position: relative;
    top: 20px;
    font-family: var(--poppins);
}
.chat-icon{
    position: relative;
    left: 30px;
}
/* Footer Styles */
footer{
    width: 100%;
    height: 444px;
    background-color: black;
}
.footer-title{   
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    font-size: 40px;
    top: 130px;
    font-family: var(--poppins);
    color: #FFFFFF;
}
.hr{
    top: 150px;
    position: relative;
    opacity: 0.5;
}
footer ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
footer ul li{
    display: inline-block;
    position: relative;
    margin: 10px;
    font-family: var(--poppins);
}
.footer-link{
    display: flex;
    justify-content: center;
    position: relative;
    top: 190px;
    align-items: center;
}
.social-link{
    display: flex;
    justify-content: center;
    position: relative;
    top:200px ;
    font-size: 20px;
}
/*------------
 Media Querise 
 --------------*/
 /* Mobile Devices */
 @media only screen and (max-width:688px) {
    .top-banner{
        width: 334px;
        height:472px;
        border-radius: 10px;
    }
    .banner-title{
        width: 258px;
        height: 178px;
        position: relative;
        align-items: center;
    }
    .banner-title h1{
        width: 228px;
        height: 60px;
        position: relative;
        top: -40px;
        left: -40px;
        right: -40px;
        font-size: 20px;
    }
.banner-title p{
    width: 258px;
    height: 48px;
    left: -40px;
    top: -30px;
    position: relative;
    font-size: 14px;
}
.banner-title button{
    width: 161px;
    height: 40px;
    position: relative;
    top: 16px;
}
.banner-image{
    width:50px;
    height:50px;
    position: relative;
    right: 800px;
}
.card{
    width: 210px;
    height: 176px;
    right:-50px ;
    position: relative;
    border: none;
    background-color:#FFFFFF;
}
.blogs{
    grid-template-columns:repeat(1, 1fr);
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 125px;
    top: 260px;
    
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}
 }



